<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ABC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <header class="site-navbar py-1" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="home" class="text-black h2 mb-0">Job<strong>start</strong></a></h1>
          </div>

          <div class="col-10 col-xl-10">
            <nav class="site-navigation text-right" role="navigation">
              <ul class="site-menu mr-auto">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/profile-management">Quản lý hồ sơ</a></li>
                <li><span class="rounded bg-dark py-2 px-3 text-white"><span class="h5 mr-2">+</span>Đăng bài</span></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      
    </header>

    <div class="unit-5 overlay" style="background-image: url('../images/hero_bg_2.jpg');">
      <div class="container text-center">
        <h2 class="mb-0">Đăng bài</h2>
        <p class="mb-0 unit-6"><a href="/home">Trang chủ</a> <span class="sep">></span> <span>Đăng bài</span></p>
      </div>
    </div>    

    <div class="site-section bg-light">
      <div class="container">

        <form action="/new-post" method="POST" class="p-5 bg-white w-75 m-auto">

          <div class="row form-group">
            <input name ="title" type="text" id="title" class="form-control" placeholder="Nhập tiêu đề">
          </div>

          <div class="row form-group select-wrap">
            <span class="icon-keyboard_arrow_down arrow-down"></span>
            <select id = "jobName"  class="form-control" name = "jobName">
              <option value="Kiến trúc" selected >Kiến trúc</option>
              <option value="Ngân hàng">Ngân hàng</option>
              <option value="Biên dịch">Biên dịch</option>
            </select>
          </div>

          <div class="row form-group">
            <input name="company" type="text" id="company" class="form-control" placeholder="Nhập tên công ty">
          </div>

          <div class="row form-group select-wrap">
            <span class="icon-keyboard_arrow_down arrow-down"></span>
            <select id = "salary" class="form-control" name="salary">
              <option value="Dưới 1 triêu" selected>Dưới 1 triệu</option>
              <option value="1 - 3 triệu">1 - 3 triệu</option>
              <option value="3 - 5 triệu">3 - 5 triệu</option>
              <option value="5 - 7 triệu">5 - 7 triệu</option>
              <option value="7 - 10 triệu">7 - 10 triệu</option>
              <option value="10 - 15 triệu">10 - 15 triệu</option>
              <option value="15 - 20 triệu">15 - 20 triệu</option>
              <option value="20 - 30 triệu">20 - 30 triệu</option>
              <option value="30 - 40 triệu">30 - 40 triệu</option>
              <option value="40 - 50 triệu">40 - 50 triệu</option>
              <option value="Trên 50 triệu">Trên 50 triệu</option>
            </select>
          </div>

          <div class="row form-group select-wrap">
              <span class="icon-keyboard_arrow_down arrow-down"></span>
              <select name="experience" id="experience" class="form-control">
                <option value="Chưa có kinh nghiệm" selected>Chưa có kinh nghiệm</option>
                <option value="Dưới 1 năm">Dưới 1 năm</option>
                <option value="1 năm">1 năm</option>
                <option value="2 năm">2 năm</option>
                <option value="3 năm">3 năm</option>
                <option value="4 năm">4 năm</option>
                <option value="5 năm">5 năm</option>
                <option value="Trên 5 năm">Trên 5 năm</option>
              </select>
          </div>

          <div class="row form-group select-wrap">
            <span class="icon-keyboard_arrow_down arrow-down"></span>
            <select id = "type" name="type" class="form-control">
              <option value="Toàn thời gian">Toàn thời gian</option>
              <option value="Bán thời gian" selected>Bán thời gian</option>
            </select>
          </div>            

          <div class="row form-group mb-4 select-wrap">
            <div class="checkbox-inline">
              <label><input name ="location" type="checkbox" value="Hà Nội" checked = "true">Hà Nội</label>
            </div>
            <div class="checkbox-inline">
              <label><input type="checkbox" value="Hồ Chí Minh">Hồ Chí Minh</label>
            </div>
            <div class="checkbox-inline">
              <label><input type="checkbox" value="Đà Nẵng">Đà Nẵng</label>
            </div>
          </div>

          <div class="row form-group">
            <h3>Mô tả</h3>                
            <textarea id="description" name="description" class="form-control" cols="30" rows="5"></textarea>                
          </div>

          <div class="row form-group">
            <h3>Yêu cầu</h3>
            <textarea id="requirement" name="requirement" class="form-control" cols="30" rows="5"></textarea>
          </div>

          <div class="row form-group">
            <input type="submit" value="Đăng bài" class="btn btn-primary py-2 px-5  ml-auto">
          </div>
  
        </form>
      </div>        

    </div>

    <footer class="site-footer">
      <div class="container">    
        <div class="row">
          <div class="col-6 col-md-4 mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Ứng viên</h3>
            <ul class="list-unstyled">
              <li><a href="/register">Đăng ký</a></li>
              <li><a href="">Tìm việc</a></li>
              <li><a href="#">Các ngành</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4 mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Người tuyển dụng</h3>
            <ul class="list-unstyled">
              <li><a href="#">Tìm ứng viên</a></li>
              <li><a href="#">Các ngành</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <h3 class="footer-heading mb-4">Liên lạc</h3>
            <ul class="list-unstyled">
              <li>
                <span class="d-block text-white">Địa chỉ</span>
                Abc - ABc ABC
              </li>
              <li>
                <span class="d-block text-white">Điện thoại</span>
                +0123 456 789
              </li>
              <li>
                <span class="d-block text-white">Email</span>
                abc@email.com
              </li>
            </ul>
    
          </div>
        </div>
      </div>
    </footer>

  <script src="../js/jquery/jquery-3.3.1.min.js"></script>
  <script src="../js/interface/popper.min.js"></script>
  <script src="../js/interface/bootstrap.min.js"></script>
  <script src="../js/validate/validate.js"></script>
  <script src="../js/validate/new-post-validate.js"></script>
  <script th:inline="javascript">

    const errors = /*[[${errors}]]*/ '';
    const post = /*[[${post}]]*/ '';

    check(errors, post);
 
  </script>
  </body>
</html>

